#cine_container {
	background: black;
	position: relative;
	overflow: hidden;
}
#cine_container .controlButton {
	cursor: pointer;
	font-size: 12px;
	padding: 6px;
	color: white;
	font-weight: bold;
	width: 25px;
}
.activeControl {
	background-color: #333;
}
#cine_container .progressBar {
	height: 12px;
	position: relative;
	z-index: 1;
}
#cine_container .loadProgress {
	width: 1px;
	height: 12px;
	background: #555555;
}
#cine_container .progressFill {
	width: 1px;
	height: 12px;
	background: #BBBBBB;
}
#cine_container .progressLabel {
	color: #fff;
	font-size: 12px;
	margin-top: 0;
	margin-left: 3px;
	position: relative;
	top: -5px;
}
#controls {
	position: absolute;
	width: 100%;
}
#cine_container .speedControl {
	clear: both;
	padding-top: 5px;
}
#cine_container .speedSlider {
	/*display: none;*/
	width: 150px;
	height: 5px;
	border-radius: 2px;
}
#cine_container .speedSlider .ui-slider-handle {
	height: 15px;
	width: 10px;
	top: -0.4em;
}
#canvas_container {
}
#cine_container div.expand {
	position: absolute;
	bottom: 2px;
	right: 2px;
}
.toggle {
	border-bottom: 1px solid #555555;
    cursor: pointer;
    padding-bottom: 3px;
}
.collapse-body { padding: 10px 5px; }
h2 { margin-bottom: 20px; }
#list_controls {
	float: left;
    margin-bottom: 10px;
    width: 100%;
}
:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
}
:-moz-full-screen {
	width: 100% !important;
	height: 100% !important;
}